@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100&display=swap');
* {
    margin: 0 0 0 0;
}

body {
    color: rgb(185, 185, 0);
    font-family: 'Indie Flower', cursive;
    background-color: black;
}

header {
    text-align: center;
}

header h1 {
    margin-top: 5%;
    font-size: 10ch;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#content>div {
    padding: 1%;
    text-align: center;
    width: 31%;
    min-width: 300px;
}

#content h2 {
    font-size: 8ch;
}

.personagem {
    margin-top: 5%;
}

.personagem h3 {
    font-size: 5ch;
}

.personagem img {
    width: 100%;
    height: auto;
}

#historia p {
    text-align: justify;
    font-size: 3ch;
}

#historia p::first-letter {
    font-size: 300%;
}

#localizacao img {
    width: 100%;
}

footer {
    text-align: center;
    font-size: 5ch;
    background-color: #b9b900;
    color: hsl(0, 0%, 0%);
    padding: 5%
}

@media screen and (max-width: 970px) {
    header img {
        width: 50%;
    }
    #content>div {
        margin-top: 5%;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
    }
    h1 {
        font-size: 7ch !important;
    }
    h2 {
        font-size: 5ch !important;
    }
    h3 {
        font-size: 4ch !important;
    }
    footer {
        font-size: 3ch;
    }
}